.flat-button {

    display: inline-block;
    position: relative;
    width: 150px; height: 40px;
    background: rebeccapurple;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    border-radius: 10px;
    border-color: rebeccapurple;
    border-style: solid;
    box-sizing: border-box;
    border-width: 2px;

    line-height: 30px;
    text-align: center;
    color: #fff;
    font-family: "Avenir LT Std 45 Book";
    text-transform: uppercase;
}

.flat-button:after {
    position: absolute;
    top: 90%; left: 0;
    width: 100%; height: 100%;
    background: midnightblue;
    content: "";
    z-index: -2;
    transition: transform .3s;
}

.flat-button:hover::after {

    transform: translateY(-80%);
    transition: transform .3s;
}

#vitesseAnimSlider {
    display: inline-block;
    position: relative;
    left: 10px;
    width: 7%;
    height: 10px;
    border-radius: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;               /* affiche le slider légèrement transparent */
    -webkit-transition: .2s;    /* transition de 0.2 secondes (lors du survol) */
    transition: opacity .2s;
}

label[for="vitesseAnimSlider"] {
    display: inline-block;
    position: relative;
    left: 5px;
    opacity: 0.8;
    font-family: 'Baloo Bhai', cursive;
    color: whitesmoke;
    font-size: 0.750em;
}

/* Effet de survol de la souris */
#vitesseAnimSlider:hover{
    /* le slider s'affiche complètement */
    opacity: 1;
}

#vitesseAnimSlider::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border-radius: 40%;
    background: #41a46b;                /* Change la couleur du bouton du slider (sous Chrome, Safari et Opéra) */
    transition: background .2s ease-in-out;
    cursor: pointer;
}

#vitesseAnimSlider::-webkit-slider-thumb:hover {
    background: midnightblue;         /* Change la couleur du bouton du slider lorsqu'on le survole (sous Chrome, Safari et Opéra) */
}

#vitesseAnimSlider:active::-webkit-slider-thumb {
    background: midnightblue;        /* Change la couleur du bouton du slider lorsqu'il est actif (sous Chrome, Safari et Opéra)*/
}

#vitesseAnimSlider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px midnightblue;
}

#vitesseAnimSlider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 40%;
    background: midnightblue;            /* Change la couleur du bouton du slider lorsqu'on le survole (sous Firefox) */
    transition: background .15s ease-in-out;
    cursor: pointer;
}

#vitesseAnimSliderValue {
    display: inline-block;
    position: relative;
    opacity: 0;                       /* masque la valeur du slider tant qu'on ne la modifie pas */
    transition: opacity .2s ease-in-out;
    width: 20px;
    color: whitesmoke;
    line-height: 0.750em;
    text-align: center;
    border-radius: 2px;
    padding: 4px 2px;
    margin-left: 4px;
}



