*{
    margin: 0px;
    padding: 0px;
}
#background{
    height: 100vh;
    width: 100vw;
    background-color: purple;
    overflow: auto;
}
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    height: 700px;
    width: 1300px;
    background-image: url("../images/menu/content-background.jpg");
    background-size: cover;
}
.titles{
    display: block;
}
#title{
    font-family: "Avenir LT Std 95 Black", serif;
    font-size: 30pt;
    text-transform: uppercase;
}
#under-title{
    font-family: "Avenir LT Std 45 Book", serif;
}
#text{
    color: white;
    margin-top: 350px;
    padding: 40px;
}
#hamburger-menu{
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.line{
    margin-bottom: 3px;
    display: block;
    background-color: white;
    height: 3px;
    width: 40px;
}
#cfg-bg{
    visibility: hidden;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.90);
    opacity: 0;

    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    transition: all 0.35s ease-in-out;

}
#cfg-title{
    font-family: "Avenir LT Std 95 Black";
    text-align: center;
    font-size: 20pt;
    color: black;
}
#game-config{
    color: black;
    font-family: "Avenir LT Std 45 Book";
    background-color: white;
    height: 500px;
    width: 800px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 10px;
}
#btnPlay{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.croix{

    display: block;
    height: 3px;
    width: 18px;
    background-color: black;


}
#line1.croix{
    transform: translateY(8px) translateX(1px) rotate(45deg);
}
#line2.croix{
    transform:  translateY(5px) translateX(1px) rotate(-45deg);
}

#croix{
    position: absolute;

    cursor: pointer;
    height: 20px;
    width: 20px;

    right: 15px;
    top: 10px;
}