
body {
    background-color: purple;
    font-family: "Avenir LT Std 45 Book";
    color: white;
}

#menu {
    border-style: solid;
}

#carte_question {
    display: none;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 461px;
    height: 271px;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    background-image: url("../images/question/fond.png");
    color: black;
}

#rdb_question {
    text-align: left;
    margin-left: 20px;
}

#carte_chance{
    display: none;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 461px;
    height: 271px;
    border-radius: 9%;
    padding: 20px;
    text-align: center;
    background-image: url("../images/chance/fond.png");
    color: black;
}
#choix_cible{
    display: none;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 461px;
    height: 500px;
    border-radius: 9%;
    padding: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

#carte_module{
    display: none;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 461px;
    height: 271px;
    border-radius: 9%;
    padding: 20px;
    text-align: center;
    background-image: url("../images/modules/fond.svg");
    color: black;
}